---
title: 'Base'
breadcrumbs:
    - title: 'UI'
      url: '/ui'
    - title: 'Base'
      url: '/ui/base'
---

The base command changes the base color of the application.

### Syntax

```
$ vela ui base
```

```
$ vela ui base slate
```

This will change the base color of the application to slate.

### Colors

Vela supports the following colors:

```
slate
gray
zinc
neutral
stone
```
