---
title: 'Vercel'
breadcrumbs:
    - title: 'Serverless'
      url: '/es/serverless'
    - title: 'Vercel'
      url: '/es/serverless/vercel'
---

Despliega tu aplicación en Vercel. Necesitarás un backend de base de datos alojada (recomendamos PocketHost) y variables de entorno de Vercel configuradas.

```
$ vercel env add POCKETBASE_URL
$ vercel env add POCKETBASE_SUPERUSER_EMAIL
$ vercel env add POCKETBASE_SUPERUSER_PASSWORD
$ vercel deploy
```
