---
title: 'Account'
breadcrumbs:
    - title: 'Account'
      url: '/account'
---

An account is not required to use the Vela CLI. Paid features, templates and AI options require it however. An API key is generated for the CLI and stored in `~/.vela/config.json`.

### Deploy History

If logged in, you can view your deploy history on velastack.dev.
