---
title: 'Add'
breadcrumbs:
    - title: 'UI'
      url: '/ui'
    - title: 'Add'
      url: '/ui/add'
---

The add command is used to add a new Shadcn-Svelte component to the application.

### Syntax

```
$ vela ui add
```

```
$ vela ui add button
```

This will add the button component to the application.
