---
title: 'Cloudflare'
breadcrumbs:
    - title: 'Serverless'
      url: '/serverless'
    - title: 'Cloudflare'
      url: '/serverless/cloudflare'
---

Deploy your application to Cloudflare. You'll need a hosted database backend (we recommend PocketHost) and configured Cloudflare environment variables.

```
$ wrangler secret put POCKETBASE_URL
$ wrangler secret put POCKETBASE_SUPERUSER_EMAIL
$ wrangler secret put POCKETBASE_SUPERUSER_PASSWORD
$ wrangler deploy
```
