---
title: 'Integration'
breadcrumbs:
    - title: 'Test'
      url: '/test'
    - title: 'Integration'
      url: '/test/integration'
---

Integration tests cover the full application stack, including the database.

### Syntax

```
$ vela test:integration
```

### Test files

Integration tests match the pattern `*.integration.ts` and run on Vitest. A test database will be created and all migrations applied before the tests are run. Any seed data and fixtures will be loaded before the tests are run. Integration tests created by Vela mostly run as HTTP requests to the application.

### Frontend

Integration tests do not include any frontend code. They are only concerned with the backend and database. Large speed benefits are gained by excluding the frontend bundle from the test runner.
