---
title: 'Integración'
breadcrumbs:
    - title: 'Prueba'
      url: '/es/test'
    - title: 'Integración'
      url: '/es/test/integration'
---

Las pruebas de integración cubren toda la pila de la aplicación, incluida la base de datos.

### Sintaxis

```
$ vela test:integration
```

### Archivos de prueba

Las pruebas de integración coinciden con el patrón `*.integration.ts` y se ejecutan en Vitest. Se creará una base de datos de prueba y todas las migraciones se aplicarán antes de que se ejecuten las pruebas. Cualquier dato de semilla y fixtures se cargará antes de que se ejecuten las pruebas. Las pruebas de integración creadas por Vela suelen ser solicitudes HTTP a la aplicación.

### Interfaz de prueba

Las pruebas de integración no incluyen ningún código frontend. Solo se preocupan por el backend y la base de datos. Se ganan grandes beneficios de velocidad al excluir el bundle frontend del ejecutor de pruebas.
