---
title: 'Extraer'
breadcrumbs:
    - title: 'i18n'
      url: '/es/i18n'
    - title: 'Extraer'
      url: '/es/i18n/extract'
---

Extraer cadenas traducibles.

### Sintaxis

```
$ vela i18n extract
```
