---
title: 'Términos'
breadcrumbs:
    - title: 'Legal'
      url: '/es/legal'
    - title: 'Términos'
      url: '/es/legal/terms'
---

Vela incluye un generador de términos de servicio para crear unos términos de servicio de demostración para tu aplicación.

### Sintaxis

```
$ vela legal terms
```
