---
title: 'Clear'
breadcrumbs:
    - title: 'Seeds'
      url: '/seeds'
    - title: 'Clear'
      url: '/seeds/clear'
---

Clear seed data from the database.

### Syntax

```
$ vela seeds clear
```

This will clear all seed data from the database.
