---
title: 'Borrar'
breadcrumbs:
    - title: 'Semillas'
      url: '/es/seeds'
    - title: 'Borrar'
      url: '/es/seeds/clear'
---

Borrar datos de semilla de la base de datos.

### Sintaxis

```
$ vela seeds clear
```

Esto borrará todos los datos de inicialización de la base de datos.
