---
title: 'Instalación'
breadcrumbs:
    - title: 'Referencia de la CLI'
      url: '/es/cli'
    - title: 'Instalación'
      url: '/es/cli/installation'
---

Para instalar la CLI, ejecuta el siguiente comando:

```
npm install -g vela
```

```
pnpm install -g vela
```

```
yarn install -g vela
```
