<!-- @en -->
Although Vela has no runtime, it does include a few helpers for common tasks.
<!-- @es -->
Aunque Vela no tiene tiempo de ejecución, incluye algunas herramientas de ayuda para tareas comunes.
<!-- @end -->
