<!-- @en -->
The Vela CLI is a command-line interface for creating and managing Vela projects.
<!-- @es -->
La CLI de Vela es una interfaz de línea de comandos para crear y gestionar proyectos de Vela.
<!-- @end -->
