---
title: 'Unidad'
breadcrumbs:
    - title: 'Prueba'
      url: '/es/test'
    - title: 'Unidad'
      url: '/es/test/unit'
---

Las pruebas unitarias se utilizan para probar unidades de código individuales.

### Sintaxis

```
$ vela test:unit
```

### Pruebas

Las pruebas unitarias coinciden con el patrón `*.test.ts/*.spec.ts` y se ejecutan en Vitest. No dependen de la base de datos y no se creará una base de datos de prueba, a diferencia de las pruebas de integración.
