---
title: 'Subscriptions'
breadcrumbs:
    - title: 'Enable'
      url: '/enable'
    - title: 'Subscriptions'
      url: '/enable/subscriptions'
badges:
    - Pro
---

Enable plans and subscriptions with Stripe.

### Syntax

```
$ vela enable subscriptions
```
