<!-- @en -->
Vela includes a privacy policy and terms of service generator to create a demo privacy policy and terms of service for your application.
<!-- @es -->
Vela incluye un generador de política de privacidad y términos de servicio para crear una política de privacidad y términos de servicio de demostración para tu aplicación.
<!-- @end -->
