---
title: 'WhatsApp'
breadcrumbs:
    - title: 'Habilitar'
      url: '/es/enable'
    - title: 'WhatsApp'
      url: '/es/enable/whatsapp'
badges:
    - Previa
---

Habilitar autenticación con WhatsApp para tu aplicación.

### Sintaxis

```
$ vela enable whatsapp
```

Se te pedirán opciones de configuración para la integración con WhatsApp.
