<!-- @en -->
Check your account details on velastack.dev. The API key for the CLI is stored in `~/.vela/config.json`.

### Syntax

```
$ vela whoami
```

This will display your account details.
<!-- @es -->
Comprueba los detalles de tu cuenta en velastack.dev. La clave de API para el CLI se almacena en `~/.vela/config.json`.

### Sintaxis

```
$ vela whoami
```

Esto mostrará los detalles de tu cuenta.
<!-- @end -->
