---
title: 'Load'
breadcrumbs:
    - title: 'Seeds'
      url: '/seeds'
    - title: 'Load'
      url: '/seeds/load'
---

Load seed data from the database. Run automatically for integration tests.

### Syntax

```
$ vela seeds load
```

This will load seed data into the database. Seed data files are loaded in alphabetical order and prefixed with a number to ensure deterministic loading order.
