---
title: 'velastack/action'
breadcrumbs:
    - title: 'Ayudantes'
      url: '/es/helpers'
    - title: 'velastack/action'
      url: '/es/helpers/github-action'
---

La acción de GitHub para implementar proyectos de Vela en un VPS.
