---
title: 'Borrar'
breadcrumbs:
    - title: 'Fixtures'
      url: '/es/fixtures'
    - title: 'Borrar'
      url: '/es/fixtures/clear'
---

Borrar datos de fixture de la base de datos.

### Sintaxis

```
$ vela fixtures clear
```

Esto borrará todos los datos de fixture de la base de datos.
