---
title: 'Cerrar sesión'
breadcrumbs:
    - title: 'Cuenta'
      url: '/es/account'
    - title: 'Cerrar sesión'
      url: '/es/account/logout'
---

Cierra sesión de tu cuenta en velastack.dev.

### Sintaxis

```
$ vela logout
```

Esto cerrará tu sesión.
