---
title: 'SMTP'
breadcrumbs:
    - title: 'Enable'
      url: '/enable'
    - title: 'SMTP'
      url: '/enable/smtp'
---

Enable SMTP email sending for your application.

### Syntax

```
$ vela enable smtp
```

You'll be prompted for configuration options for the SMTP email sending.
