---
title: 'Login'
breadcrumbs:
    - title: 'Account'
      url: '/account'
    - title: 'Login'
      url: '/account/login'
---

Login to your account on velastack.dev.

### Syntax

```
$ vela login
```

You'll be prompted for your email and password.
