---
title: 'Iniciar sesión'
breadcrumbs:
    - title: 'Cuenta'
      url: '/es/account'
    - title: 'Iniciar sesión'
      url: '/es/account/login'
---

Inicia sesión en tu cuenta de velastack.dev.

### Sintaxis

```
$ vela login
```

Se te pedirá tu correo electrónico y contraseña.
