---
title: 'Save'
breadcrumbs:
    - title: 'Seeds'
      url: '/seeds'
    - title: 'Save'
      url: '/seeds/save'
---

Save seed data from the database.

### Syntax

```
$ vela seeds save
```

This will save seed data from the database to the `data/seeds` directory. The order of files is determined by the database schema, tables that depend on other tables are saved later.
