---
title: 'Guardar'
breadcrumbs:
    - title: 'Semillas'
      url: '/es/seeds'
    - title: 'Guardar'
      url: '/es/seeds/save'
---

Guardar datos de inicialización de la base de datos.

### Sintaxis

```
$ vela seeds save
```

Esto guardará datos de semilla en la base de datos en el directorio `data/seeds`. El orden de los archivos se determina por el esquema de la base de datos, las tablas que dependen de otras tablas se guardan más tarde.
